SNF Dashboard/workflows/CommandCenter-CrossAgentAuditLog-b8c9d0e1-f2a3-4567-bcde-890123456789/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": { "name": "shared_commondataserviceforapps" },
        "connection": { "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_af899" },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "description": "Pacific Coast Command Center Cross-Agent Audit Log Flow.",
      "parameters": {
        "$authentication": { "defaultValue": {}, "type": "SecureObject" },
        "$connections": { "defaultValue": {}, "type": "Object" }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": { "type": "string" },
                "text_1": { "type": "string" },
                "text_2": { "type": "string" },
                "text_3": { "type": "string" },
                "text_4": { "type": "string" },
                "text_5": { "type": "string" },
                "text_6": { "type": "string" },
                "text_7": { "type": "string" },
                "text_8": { "type": "string" },
                "text_9": { "type": "string" }
              },
              "required": ["text", "text_1", "text_2", "text_5"]
            }
          }
        }
      },
      "actions": {
        "Initialize_Session_ID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SessionID",
                "type": "string",
                "value": "@{concat('PCCA-ROUTE-', utcNow('yyyyMMddHHmmss'), '-', substring(guid(), 0, 8))}"
              }
            ]
          },
          "runAfter": {}
        },
        "Log_Routing_Event_To_Dataverse": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "pcca_swarmauditlogs",
              "item/pcca_sessionid": "@variables('SessionID')",
              "item/pcca_sourceagent": "@triggerBody()?['text']",
              "item/pcca_destinationagent": "@triggerBody()?['text_1']",
              "item/pcca_missiontype": "@triggerBody()?['text_2']",
              "item/pcca_userrole": "@{if(empty(triggerBody()?['text_3']), 'Unknown', triggerBody()?['text_3'])}",
              "item/pcca_facilitycontext": "@{if(empty(triggerBody()?['text_4']), 'Not Set', triggerBody()?['text_4'])}",
              "item/pcca_runid": "@triggerBody()?['text_5']",
              "item/pcca_inputhash": "@triggerBody()?['text_6']",
              "item/pcca_outputhash": "@triggerBody()?['text_7']",
              "item/pcca_timestampin": "@triggerBody()?['text_8']",
              "item/pcca_timestampout": "@triggerBody()?['text_9']",
              "item/pcca_routingtimestamp": "@utcNow()"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": { "Initialize_Session_ID": ["Succeeded"] }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "status": { "type": "string" },
                "summary": { "type": "string" },
                "confidence": { "type": "string" },
                "requireshumanreview": { "type": "boolean" },
                "datasource": { "type": "string" },
                "warnings": { "type": "string" },
                "sessionid": { "type": "string" },
                "auditstatus": { "type": "string" }
              }
            },
            "statusCode": 200,
            "body": {
              "status": "Logged",
              "summary": "Cross-agent audit event logged.",
              "confidence": "1.0",
              "requireshumanreview": false,
              "datasource": "dataverse-audit-log",
              "warnings": "",
              "sessionid": "@variables('SessionID')",
              "auditstatus": "@{concat('Routing event logged. Session: ', variables('SessionID'))}"
            }
          },
          "runAfter": { "Log_Routing_Event_To_Dataverse": ["Succeeded"] }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}
