Ensign Regulatory Hub/deployment/src/Chatbots/cr917_agent/workflows/SNF-QualityMeasureEmailGenerator-fcf035ad-af0c-f111-8406-0022480b6bd9/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "name": "shared-approvals-5ec1e835-ffb3-4ae4-b756-45e8a8c887a0",
          "connectionReferenceLogicalName": "new_sharedapprovals_42ed5"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "cac8019c-2c93-4123-a3ea-8d60d50e1b6b"
          },
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_5": {
                  "description": "Please enter your input",
                  "title": "PayloadText",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_7": {
                  "description": "Please enter your input",
                  "title": "UserEmailAddress",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text": {
                  "description": "Please enter your input",
                  "title": "RawQMData",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3844d0f1-16fc-4257-9370-43b03c444e8c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
              "connectionReferenceName": "shared_approvals"
            },
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "QM Approval Request",
              "WebhookApprovalCreationInput/details": "@if(empty(triggerBody()?[\u0027text_5\u0027]), triggerBody()?[\u0027text\u0027], triggerBody()?[\u0027text_5\u0027])",
              "WebhookApprovalCreationInput/assignedTo": "@triggerBody()?[\u0027text_7\u0027]",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            }
          }
        },
        "ApprovalOutcomeCondition": {
          "actions": {
            "Return_value_s_to_Power_Virtual_Agents_true": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cd45312f-873f-409e-9ba8-b6d0a04bc9fd"
              },
              "type": "Response",
              "kind": "VirtualAgent",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "hitl_approval": true
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "hitl_approval": {
                      "title": "hitl_approval",
                      "type": "boolean",
                      "x-ms-content-hint": "BOOLEAN",
                      "x-ms-dynamically-added": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Return_value_s_to_Power_Virtual_Agents_false": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "a161c2dc-3bb3-4313-a84c-1e200c241b64"
                },
                "type": "Response",
                "kind": "VirtualAgent",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "hitl_approval": false
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hitl_approval": {
                        "title": "hitl_approval",
                        "type": "boolean",
                        "x-ms-content-hint": "BOOLEAN",
                        "x-ms-dynamically-added": true
                      }
                    },
                    "additionalProperties": {}
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs(\u0027Start_and_wait_for_an_approval\u0027)?[\u0027body/outcome\u0027]",
                  "Approve"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "fa150ec4-46d8-43a1-87b4-e603016ec7e3"
          },
          "type": "If"
        },
        "Return_value_s_to_Power_Virtual_Agents_on_error": {
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4187200a-0b4b-4b02-81c0-754c5b53ef20"
          },
          "type": "Response",
          "kind": "VirtualAgent",
          "inputs": {
            "statusCode": 200,
            "body": {
              "hitl_approval": false
            },
            "schema": {
              "type": "object",
              "properties": {
                "hitl_approval": {
                  "title": "hitl_approval",
                  "type": "boolean",
                  "x-ms-content-hint": "BOOLEAN",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            }
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
