SimpleLTC QM Coach V2 Hardened/workflows/SNF-QualityMeasureDeclineDetectionAndReporting-0b930a15-2516-f111-8341-0022480b6bd9/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_a3ae0"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pcca_Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d997d6bb-eea5-4047-94fd-79f9bb1f1ac4"
          },
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "FacilityName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Quarter",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "QMDataText",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "DecliningMetrics",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Please enter your input",
                  "title": "ToEmail",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_5": {
                  "description": "Please enter your input",
                  "title": "Mode",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "72d34f80-4a7e-4dcf-9a1f-4f4d0d86b9cf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "tasks",
              "$select": "subject,description",
              "$filter": "contains(subject,\u0027Facility insight submission\u0027)",
              "$orderby": "createdon desc",
              "$top": 100
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps",
              "connectionReferenceName": "shared_commondataserviceforapps"
            }
          }
        },
        "Filter_rows_for_request": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "type": "Query",
          "inputs": {
            "from": "@body(\u0027List_rows\u0027)?[\u0027value\u0027]",
            "where": "@and(if(empty(triggerBody()?[\u0027text_1\u0027]), true, or(contains(coalesce(item()?[\u0027subject\u0027], \u0027\u0027), triggerBody()?[\u0027text_1\u0027]), contains(coalesce(item()?[\u0027description\u0027], \u0027\u0027), triggerBody()?[\u0027text_1\u0027]))), if(empty(triggerBody()?[\u0027text\u0027]), true, or(contains(coalesce(item()?[\u0027subject\u0027], \u0027\u0027), triggerBody()?[\u0027text\u0027]), contains(coalesce(item()?[\u0027description\u0027], \u0027\u0027), triggerBody()?[\u0027text\u0027]))))"
          }
        },
        "Compose_ResolvedFacilityDataText": {
          "runAfter": {
            "Filter_rows_for_request": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@if(empty(triggerBody()?[\u0027text_2\u0027]), if(greater(length(body(\u0027Filter_rows_for_request\u0027)), 0), coalesce(first(body(\u0027Filter_rows_for_request\u0027))?[\u0027description\u0027], \u0027\u0027), \u0027\u0027), triggerBody()?[\u0027text_2\u0027])"
        },
        "Compose_ResolvedDecliningMetricsText": {
          "runAfter": {
            "Compose_ResolvedFacilityDataText": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@if(empty(triggerBody()?[\u0027text_3\u0027]), outputs(\u0027Compose_ResolvedFacilityDataText\u0027), triggerBody()?[\u0027text_3\u0027])"
        },
        "Condition_LookupOnly": {
          "actions": {
            "Return_lookup_value_s_to_Power_Virtual_Agents": {
              "type": "Response",
              "kind": "VirtualAgent",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "confirmationmessage": {
                      "title": "ConfirmationMessage",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "facility_submission_status": {
                      "title": "FacilitySubmissionStatus",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "facility_data_text": {
                      "title": "FacilityDataText",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "declining_metrics_text": {
                      "title": "DecliningMetricsText",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "confirmationmessage": "@outputs(\u0027Compose_ResolvedFacilityDataText\u0027)",
                  "facility_submission_status": "@if(empty(outputs(\u0027Compose_ResolvedFacilityDataText\u0027)), \u0027not_found\u0027, \u0027found\u0027)",
                  "facility_data_text": "@outputs(\u0027Compose_ResolvedFacilityDataText\u0027)",
                  "declining_metrics_text": "@outputs(\u0027Compose_ResolvedDecliningMetricsText\u0027)"
                }
              }
            }
          },
          "runAfter": {
            "Compose_ResolvedDecliningMetricsText": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Send_an_email_(V2)": {
                "metadata": {
                  "operationMetadataId": "3faa4587-3f7b-41e3-a80d-db42ac166b24"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "emailMessage/To": "@triggerBody()?[\u0027text_4\u0027]",
                    "emailMessage/Subject": "\u00E2\u0161\u00A0\u00EF\u00B8\u008F QM DECLINE ALERT - @{triggerBody()?[\u0027text\u0027]} | @{triggerBody()?[\u0027text_1\u0027]}",
                    "emailMessage/Body": "\u003Cp\u003EQM DECLINE ALERT\u003Cbr\u003E\n==================\u003Cbr\u003E\nFacility: @{triggerBody()[\u0027text\u0027]}\u003C/p\u003E\n\u003Cp\u003EQuarter: @{triggerBody()?[\u0027text_1\u0027]}\u003C/p\u003E\n\u003Cp\u003E---DECLINING QMs (Actual \u0026gt; Predicted)---\u003Cbr\u003E\n@{outputs(\u0027Compose_ResolvedDecliningMetricsText\u0027)}\u003C/p\u003E\n\u003Cp\u003E\u003Cbr\u003E\n---FULL QM DATA---\u003Cbr\u003E\n@{outputs(\u0027Compose_ResolvedFacilityDataText\u0027)}\u003C/p\u003E",
                    "emailMessage/Importance": "Normal"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "operationId": "SendEmailV2",
                    "connectionName": "shared_office365",
                    "connectionReferenceName": "shared_office365"
                  }
                }
              },
              "Return_email_value_s_to_Power_Virtual_Agents": {
                "runAfter": {
                  "Send_an_email_(V2)": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "88ba3f9d-ee0a-4bb9-ab5b-d32e25a87f70"
                },
                "type": "Response",
                "kind": "VirtualAgent",
                "inputs": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "confirmationmessage": {
                        "title": "ConfirmationMessage",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      },
                      "facility_submission_status": {
                        "title": "FacilitySubmissionStatus",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      },
                      "facility_data_text": {
                        "title": "FacilityDataText",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      },
                      "declining_metrics_text": {
                        "title": "DecliningMetricsText",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      }
                    },
                    "additionalProperties": {}
                  },
                  "statusCode": 200,
                  "body": {
                    "confirmationmessage": "@concat(\u0027Email alert sent successfully for \u0027, triggerBody()?[\u0027text\u0027])",
                    "facility_submission_status": "@if(empty(outputs(\u0027Compose_ResolvedFacilityDataText\u0027)), \u0027not_found\u0027, \u0027found\u0027)",
                    "facility_data_text": "@outputs(\u0027Compose_ResolvedFacilityDataText\u0027)",
                    "declining_metrics_text": "@outputs(\u0027Compose_ResolvedDecliningMetricsText\u0027)"
                  }
                }
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@toLower(coalesce(triggerBody()?[\u0027text_5\u0027], \u0027email\u0027))",
                  "lookup"
                ]
              },
              {
                "equals": [
                  "@trim(coalesce(triggerBody()?[\u0027text_4\u0027], \u0027\u0027))",
                  ""
                ]
              }
            ]
          },
          "type": "If"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}