SNF AI Dashboard/data/processed/flow.quality.0b930a15-2516-f111-8341-0022480b6bd9.clientdata.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_a3ae0"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"pcca_Outlook"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"d997d6bb-eea5-4047-94fd-79f9bb1f1ac4"},"type":"Request","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"text":{"description":"Please enter your input","title":"FacilityName","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_1":{"description":"Please enter your input","title":"Quarter","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_2":{"description":"Please enter your input","title":"QMDataText","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_3":{"description":"Please enter your input","title":"DecliningMetrics","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_4":{"description":"Please enter your input","title":"ToEmail","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_5":{"description":"Please enter your input","title":"Mode","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["text"]}}}},"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"72d34f80-4a7e-4dcf-9a1f-4f4d0d86b9cf"},"type":"OpenApiConnection","inputs":{"parameters":{"entityName":"tasks","$select":"subject,description","$filter":"contains(subject,'Facility insight submission')","$orderby":"createdon desc","$top":100},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","operationId":"ListRecords","connectionName":"shared_commondataserviceforapps","connectionReferenceName":"shared_commondataserviceforapps"}}},"Filter_rows_for_request":{"runAfter":{"List_rows":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_rows')?['value']","where":"@and(if(empty(triggerBody()?['text_1']), true, or(contains(coalesce(item()?['subject'], ''), triggerBody()?['text_1']), contains(coalesce(item()?['description'], ''), triggerBody()?['text_1']))), if(empty(triggerBody()?['text']), true, or(contains(coalesce(item()?['subject'], ''), triggerBody()?['text']), contains(coalesce(item()?['description'], ''), triggerBody()?['text']))))"}},"Compose_ResolvedFacilityDataText":{"runAfter":{"Filter_rows_for_request":["Succeeded"]},"type":"Compose","inputs":"@if(empty(triggerBody()?['text_2']), if(greater(length(body('Filter_rows_for_request')), 0), coalesce(first(body('Filter_rows_for_request'))?['description'], ''), ''), triggerBody()?['text_2'])"},"Compose_ResolvedDecliningMetricsText":{"runAfter":{"Compose_ResolvedFacilityDataText":["Succeeded"]},"type":"Compose","inputs":"@if(empty(triggerBody()?['text_3']), outputs('Compose_ResolvedFacilityDataText'), triggerBody()?['text_3'])"},"Condition_LookupOnly":{"actions":{"Return_lookup_value_s_to_Power_Virtual_Agents":{"type":"Response","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"confirmationmessage":{"title":"ConfirmationMessage","x-ms-dynamically-added":true,"type":"string"},"facility_submission_status":{"title":"FacilitySubmissionStatus","x-ms-dynamically-added":true,"type":"string"},"facility_data_text":{"title":"FacilityDataText","x-ms-dynamically-added":true,"type":"string"},"declining_metrics_text":{"title":"DecliningMetricsText","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"confirmationmessage":"@outputs('Compose_ResolvedFacilityDataText')","facility_submission_status":"@if(empty(outputs('Compose_ResolvedFacilityDataText')), 'not_found', 'found')","facility_data_text":"@outputs('Compose_ResolvedFacilityDataText')","declining_metrics_text":"@outputs('Compose_ResolvedDecliningMetricsText')"}}}},"runAfter":{"Compose_ResolvedDecliningMetricsText":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)":{"metadata":{"operationMetadataId":"3faa4587-3f7b-41e3-a80d-db42ac166b24"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@triggerBody()?['text_4']","emailMessage/Subject":"âš ï¸ QM DECLINE ALERT - @{triggerBody()?['text']} | @{triggerBody()?['text_1']}","emailMessage/Body":"<p>QM DECLINE ALERT<br>\n==================<br>\nFacility: @{triggerBody()['text']}</p>\n<p>Quarter: @{triggerBody()?['text_1']}</p>\n<p>---DECLINING QMs (Actual &gt; Predicted)---<br>\n@{outputs('Compose_ResolvedDecliningMetricsText')}</p>\n<p><br>\n---FULL QM DATA---<br>\n@{outputs('Compose_ResolvedFacilityDataText')}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","operationId":"SendEmailV2","connectionName":"shared_office365","connectionReferenceName":"shared_office365"}}},"Return_email_value_s_to_Power_Virtual_Agents":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"88ba3f9d-ee0a-4bb9-ab5b-d32e25a87f70"},"type":"Response","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"confirmationmessage":{"title":"ConfirmationMessage","x-ms-dynamically-added":true,"type":"string"},"facility_submission_status":{"title":"FacilitySubmissionStatus","x-ms-dynamically-added":true,"type":"string"},"facility_data_text":{"title":"FacilityDataText","x-ms-dynamically-added":true,"type":"string"},"declining_metrics_text":{"title":"DecliningMetricsText","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"confirmationmessage":"@concat('Email alert sent successfully for ', triggerBody()?['text'])","facility_submission_status":"@if(empty(outputs('Compose_ResolvedFacilityDataText')), 'not_found', 'found')","facility_data_text":"@outputs('Compose_ResolvedFacilityDataText')","declining_metrics_text":"@outputs('Compose_ResolvedDecliningMetricsText')"}}}}},"expression":{"or":[{"equals":["@toLower(coalesce(triggerBody()?['text_5'], 'email'))","lookup"]},{"equals":["@trim(coalesce(triggerBody()?['text_4'], ''))",""]}]},"type":"If"}}}},"schemaVersion":"1.0.0.0"}
