SNF Dashboard/data/processed/therapy_clone_work/SNFRehabSolution/src/Workflows/COPILOTV2-ResidentInsightDataverseLookup-88CE03B7-6B25-F111-8341-000D3A33801D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_a3ae0"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "facility_hint",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "title": "requested_run_id",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "bf3d4c7c-e7c0-49ae-a7c2-9b87e0f3594d"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "resident_data_text",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {}
        },
        "List_rows": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "tasks",
              "$top": 25,
              "$orderby": "createdon desc",
              "$select": "activityid,subject,description,body,createdon",
              "$filter": "contains(subject,'Resident insight')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "566d5ddb-2538-4855-a4d6-4fdc15d13b0b"
          }
        },
        "Filter_rows_for_request": {
          "type": "Query",
          "inputs": {
            "from": "@body('List_rows')?['value']",
            "where": "@and(if(empty(triggerBody()?['text_1']), true, contains(item()?['subject'], triggerBody()?['text_1'])), if(empty(triggerBody()?['text']), true, or(contains(coalesce(item()?['description'], ''), triggerBody()?['text']), contains(coalesce(item()?['body'], ''), triggerBody()?['text']))))"
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body('Filter_rows_for_request'))",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Set_variable_data_text": {
              "type": "SetVariable",
              "inputs": {
                "name": "resident_data_text",
                "value": "@coalesce(first(body('Filter_rows_for_request'))?['body'], first(body('Filter_rows_for_request'))?['description'], '')"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Filter_rows_for_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ad0fd8f-c7b7-4dff-933a-969fa864f674"
          }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "resident_data_text": {
                  "title": "resident_data_text",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "resident_data_text": "@variables('resident_data_text')"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2ac70d1-95fd-4d48-bd3b-a4db4d38efb6"
          }
        }
      },
      "outputs": {},
      "description": "When an agent calls the flow and receives the latest secure resident insight submission from Dataverse, optionally filtered by run id or facility hint."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}