Denial Defense Agent/workflows/DenialDefense-AppealPackageBuilder-a7b8c9d0-e1f2-3456-abcd-789012345678/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": { "name": "shared_commondataserviceforapps" },
        "connection": { "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_af899" },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps_1": {
        "api": { "name": "shared_commondataserviceforapps" },
        "connection": { "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_af899" },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "description": "Pacific Coast Denial Defense — Appeal Package Builder. Assembles a structured Medicare appeal package from the Skilled Justification Builder output. Combines patient data, clinical note, SNJ statement, and regulatory citations into a formatted appeal-ready document. Grounded in CMS Appeals Process (Redetermination, QIC, ALJ), Jimmo v. Sebelius, and Microsoft Learn Power Automate document assembly best practices.",
      "parameters": {
        "$authentication": { "defaultValue": {}, "type": "SecureObject" },
        "$connections": { "defaultValue": {}, "type": "Object" }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "The Skilled Justification statement generated by the SNJ Builder",
                  "title": "SkilledJustificationText",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Patient alias or de-identified name",
                  "title": "PatientAlias",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Discipline and document type (e.g., PT Progress Note)",
                  "title": "DisciplineAndDocType",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Denial reason stated by payer (e.g., 'Lack of Medical Necessity')",
                  "title": "DenialReason",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Primary diagnosis and relevant comorbidities",
                  "title": "ClinicalDiagnosis",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": ["text", "text_1", "text_2", "text_3", "text_4"]
            }
          },
          "metadata": {
            "operationMetadataId": "appeal-builder-trigger-001",
            "flowSystemMetadata": { "flowKind": "Stateless" }
          }
        }
      },
      "actions": {
        "Initialize_Appeal_ID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name": "AppealID",
              "type": "string",
              "value": "@{concat('PCCA-APPEAL-', utcNow('yyyyMMddHHmmss'))}"
            }]
          },
          "runAfter": {}
        },
        "Assemble_Appeal_Package": {
          "type": "Compose",
          "inputs": {
            "AppealID": "@variables('AppealID')",
            "GeneratedDate": "@utcNow()",
            "AppealPackage": "@{concat('=== PACIFIC COAST THERAPY HUB — MEDICARE APPEAL PACKAGE ===\nAppeal ID: ', variables('AppealID'), '\nDate: ', utcNow(), '\n\nSECTION 1: PATIENT INFORMATION\nPatient Alias: ', triggerBody()?['text_1'], '\nDiscipline / Document Type: ', triggerBody()?['text_2'], '\nClinical Diagnosis: ', triggerBody()?['text_4'], '\n\nSECTION 2: DENIAL INFORMATION\nDenial Reason Stated: ', triggerBody()?['text_3'], '\n\nSECTION 3: SKILLED JUSTIFICATION REBUTTAL\n', triggerBody()?['text'], '\n\nSECTION 4: REGULATORY AUTHORITY CITATIONS\n1. Jimmo v. Sebelius (2013) Settlement Agreement: Medicare coverage is NOT limited to patients who demonstrate potential for improvement. Coverage extends to maintenance therapy when a licensed therapist is required to maintain function or prevent further decline.\n2. CMS Medicare Benefit Policy Manual, Chapter 15, Section 220/230/240: Skilled therapy services are covered when the inherent complexity of the service, condition of the patient, or both require the judgment, knowledge, and skills of a qualified therapist.\n3. APTA Clinical Practice Guidelines: Evidence-based functional outcomes supporting skilled PT intervention.\n4. AOTA Occupational Therapy Practice Framework (4th Ed.): Skilled OT services grounded in occupational profile and performance analysis.\n5. ASHA Evidence Maps: Research-supported SLP interventions for the documented condition.\n6. 42 CFR 409.32 — SNF Level of Care Requirements: Patient requires skilled care that can only be provided safely and effectively by or under the supervision of licensed professionals.\n\nSECTION 5: APPEAL PATHWAY\nStep 1 — Redetermination: Submit to Medicare Administrative Contractor (MAC) within 120 days of denial date.\nStep 2 — QIC Reconsideration: If Redetermination denied, submit to Qualified Independent Contractor within 180 days.\nStep 3 — ALJ Hearing: If QIC denied and amount in controversy exceeds threshold, request ALJ hearing within 60 days.\n\nSECTION 6: SUPPORTING DOCUMENTATION CHECKLIST\n[ ] Complete clinical note(s) for the denial period\n[ ] Physician certification/recertification\n[ ] Plan of Care with active goals\n[ ] Prior level of function documentation\n[ ] Standardized assessment results\n[ ] IDT meeting notes (if applicable)\n[ ] Any additional clinical correspondence\n\n=== END APPEAL PACKAGE ===\n*Prepared by Pacific Coast Therapy Hub Denial Defense Engine. Grounded in Jimmo v. Sebelius, CMS MBPM Chapter 15, APTA/AOTA/ASHA standards. All content requires attorney/compliance officer review before submission.*')}"
          },
          "runAfter": { "Initialize_Appeal_ID": ["SUCCEEDED"] }
        },
        "Log_Appeal_To_Dataverse": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "pcca_appealpackages",
              "item/pcca_appealid": "@variables('AppealID')",
              "item/pcca_patientalias": "@triggerBody()?['text_1']",
              "item/pcca_disciplinedoctype": "@triggerBody()?['text_2']",
              "item/pcca_denialreason": "@triggerBody()?['text_3']",
              "item/pcca_clinicaldiagnosis": "@triggerBody()?['text_4']",
              "item/pcca_appealpackage": "@{string(outputs('Assemble_Appeal_Package'))}",
              "item/pcca_createdon": "@utcNow()",
              "item/pcca_status": "Draft - Ready for Compliance Review"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": { "Assemble_Appeal_Package": ["SUCCEEDED"] }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "appealid": {
                  "title": "AppealID",
                  "description": "Unique appeal package tracking ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "appealpackage": {
                  "title": "AppealPackage",
                  "description": "Complete formatted Medicare appeal package",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "appealid": "@variables('AppealID')",
              "appealpackage": "@{outputs('Assemble_Appeal_Package')?['AppealPackage']}"
            }
          },
          "runAfter": { "Log_Appeal_To_Dataverse": ["SUCCEEDED"] },
          "metadata": { "operationMetadataId": "appeal-builder-response-001" }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}
