Pacific-Coast Regulatory Hub/SimpleLTC QM Coach V2/workflows/CommandCenter-CrossAgentAuditLog-b8c9d0e1-f2a3-4567-bcde-890123456789/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": { "name": "shared_commondataserviceforapps" },
        "connection": { "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_af899" },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "description": "Pacific Coast Command Center — Cross-Agent Audit Log Flow. Records every cross-agent routing event from the Swarm Command Router to a Dataverse compliance audit trail. Ensures full traceability of all AI-assisted clinical decisions per Microsoft Learn Power Platform governance and HIPAA audit trail requirements.",
      "parameters": {
        "$authentication": { "defaultValue": {}, "type": "SecureObject" },
        "$connections": { "defaultValue": {}, "type": "Object" }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Source agent that initiated the routing",
                  "title": "SourceAgent",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Destination agent or workflow routed to",
                  "title": "DestinationAgent",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Mission type initiated (e.g., ClinicalDoc, DenialDefense, QM)",
                  "title": "MissionType",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "User role initiating the session (e.g., DOR, PT, DON)",
                  "title": "UserRole",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Facility context active during routing",
                  "title": "FacilityContext",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_5": {
                  "description": "Unique RunID for tracking cross-agent spans",
                  "title": "RunID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_6": {
                  "description": "Hash of the inbound state/prompt",
                  "title": "InputHash",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_7": {
                  "description": "Hash of the outbound generated artifact",
                  "title": "OutputHash",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_8": {
                  "description": "Timestamp when AI task initiated",
                  "title": "TimestampIn",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_9": {
                  "description": "Timestamp when AI task completed",
                  "title": "TimestampOut",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": ["text", "text_1", "text_2", "text_5"]
            }
          },
          "metadata": {
            "operationMetadataId": "audit-log-trigger-001",
            "flowSystemMetadata": { "flowKind": "Stateless" }
          }
        }
      },
      "actions": {
        "Initialize_Session_ID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name": "SessionID",
              "type": "string",
              "value": "@{concat('PCCA-ROUTE-', utcNow('yyyyMMddHHmmss'), '-', substring(guid(), 0, 8))}"
            }]
          },
          "runAfter": {}
        },
        "Log_Routing_Event_To_Dataverse": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "pcca_swarmauditlogs",
              "item/pcca_sessionid": "@variables('SessionID')",
              "item/pcca_sourceagent": "@triggerBody()?['text']",
              "item/pcca_destinationagent": "@triggerBody()?['text_1']",
              "item/pcca_missiontype": "@triggerBody()?['text_2']",
              "item/pcca_userrole": "@{if(empty(triggerBody()?['text_3']), 'Unknown', triggerBody()?['text_3'])}",
              "item/pcca_facilitycontext": "@{if(empty(triggerBody()?['text_4']), 'Not Set', triggerBody()?['text_4'])}",
              "item/pcca_runid": "@triggerBody()?['text_5']",
              "item/pcca_inputhash": "@triggerBody()?['text_6']",
              "item/pcca_outputhash": "@triggerBody()?['text_7']",
              "item/pcca_timestampin": "@triggerBody()?['text_8']",
              "item/pcca_timestampout": "@triggerBody()?['text_9']",
              "item/pcca_routingtimestamp": "@utcNow()",
              "item/pcca_complianceflag": "Microsoft Learn Power Platform Governance — Agent-to-Agent Routing Audit Trail",
              "item/pcca_hipaaretention": "7 Years per CMS Documentation Standards"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": { "Initialize_Session_ID": ["SUCCEEDED"] }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "sessionid": {
                  "title": "SessionID",
                  "description": "Unique cross-agent routing session ID for audit trail",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "auditstatus": {
                  "title": "AuditStatus",
                  "description": "Audit log confirmation",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "sessionid": "@variables('SessionID')",
              "auditstatus": "@{concat('Routing event logged. Session: ', variables('SessionID'), ' | ', triggerBody()?['text'], ' → ', triggerBody()?['text_1'], ' | Timestamp: ', utcNow())}"
            }
          },
          "runAfter": { "Log_Routing_Event_To_Dataverse": ["SUCCEEDED"] },
          "metadata": { "operationMetadataId": "audit-log-response-001" }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}
