SNF Dashboard/data/processed/pcca_clone_work/SNFRehabSolution/src/Workflows/INTERNAL-ResidentInsightDataverseLookup-FF633422-7E26-F111-8341-000D3A36320F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_a3ae0"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "facility_hint",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "title": "requested_run_id",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "resident_data_text",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {}
        },
        "List_rows": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "annotations",
              "$top": 25,
              "$orderby": "createdon desc",
              "$select": "annotationid,subject,notetext,createdon",
              "$filter": "contains(subject,'Resident insight advisory')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "566d5ddb-2538-4855-a4d6-4fdc15d13b0b"
          }
        },
        "Filter_rows_for_request": {
          "type": "Query",
          "inputs": {
            "from": "@body('List_rows')?['value']",
            "where": "@and(not(empty(trim(coalesce(triggerBody()?['text'], '')))), contains(toLower(coalesce(item()?['subject'], '')), toLower(trim(triggerBody()?['text']))), if(empty(triggerBody()?['text_1']), true, contains(coalesce(item()?['subject'], ''), triggerBody()?['text_1'])))"
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body('Filter_rows_for_request'))",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Set_variable_data_text": {
              "type": "SetVariable",
              "inputs": {
                "name": "resident_data_text",
                "value": "@coalesce(first(body('Filter_rows_for_request'))?['notetext'], '')"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Filter_rows_for_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ad0fd8f-c7b7-4dff-933a-969fa864f674"
          }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "resident_data_text": {
                  "title": "resident_data_text",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "resident_data_text": "@variables('resident_data_text')"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        }
      },
      "outputs": {},
      "description": "Internal helper for the RESIDENT OUTLIER ANALYSIS topic. Requires a confirmed facility_hint before lookup. If facility_hint is missing, the agent must ask: Please confirm the facility for this resident-specific QM review."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}