Ensign Regulatory Hub/atomic_gold_standard/Chatbots/cr917_agentu92bPc/workflows/COPILOTV2-ResidentInsightDataverseLookup-88ce03b7-6b25-f111-8341-000d3a33801d/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_a3ae0"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "facility_hint",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "title": "requested_run_id",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "bf3d4c7c-e7c0-49ae-a7c2-9b87e0f3594d"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "resident_data_text",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {}
        },
        "List_rows": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "tasks",
              "$top": 25,
              "$orderby": "createdon desc",
              "$select": "activityid,subject,description,body,createdon",
              "$filter": "contains(subject,\u0027Resident insight\u0027)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "566d5ddb-2538-4855-a4d6-4fdc15d13b0b"
          }
        },
        "Filter_rows_for_request": {
          "type": "Query",
          "inputs": {
            "from": "@body(\u0027List_rows\u0027)?[\u0027value\u0027]",
            "where": "@and(if(empty(triggerBody()?[\u0027text_1\u0027]), true, contains(item()?[\u0027subject\u0027], triggerBody()?[\u0027text_1\u0027])), if(empty(triggerBody()?[\u0027text\u0027]), true, or(contains(coalesce(item()?[\u0027description\u0027], \u0027\u0027), triggerBody()?[\u0027text\u0027]), contains(coalesce(item()?[\u0027body\u0027], \u0027\u0027), triggerBody()?[\u0027text\u0027]))))"
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body(\u0027Filter_rows_for_request\u0027))",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Set_variable_data_text": {
              "type": "SetVariable",
              "inputs": {
                "name": "resident_data_text",
                "value": "@coalesce(first(body(\u0027Filter_rows_for_request\u0027))?[\u0027body\u0027], first(body(\u0027Filter_rows_for_request\u0027))?[\u0027description\u0027], \u0027\u0027)"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Filter_rows_for_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ad0fd8f-c7b7-4dff-933a-969fa864f674"
          }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "resident_data_text": {
                  "title": "resident_data_text",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "resident_data_text": "@variables(\u0027resident_data_text\u0027)"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2ac70d1-95fd-4d48-bd3b-a4db4d38efb6"
          }
        }
      },
      "outputs": {},
      "description": "When an agent calls the flow and receives the latest secure resident insight submission from Dataverse, optionally filtered by run id or facility hint."
    }
  },
  "schemaVersion": "1.0.0.0"
}